<div class="main-navbar">
  <ul class="nav justify-content-center">
    <li class="nav-item"><a href="/">Guest Book</a></li>
      <% if(!locals.isLoggedIn) { %>
        <li class="nav-item"><a href="/register">Register</a></li>
        <li class="nav-item"><a href="/login">Login</a></li>
      <% } else { %>
        <li class="nav-item"><a href="/users/show">`${user.firstName}`</a></li>
        <li class="nav-item"><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
  </div>
</div>
