<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Uh oh spaghetti-oh!</h1>
  </div>
</div>

<h1>500: Internal Server Error</h1>

<h2><%= err.message %></h2>

<% if(locals.err.stack) { %>
<pre>
  <%= err.stack %>
</pre>
<% } %>
