<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Uh oh spaghetti-oh!</h1>
  </div>
</div>

<div class="error">

<h2>500: Internal Server Error</h2>

<p><%= err.message %></p>

<% if(locals.err.stack) { %>
<pre>
  <%= err.stack %>
</pre>
<% } %>

</div>
