<h1>Guest Book</h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Guest Book</h1>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
  </div>
</div>
