<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Guest Book</h1>
    <a class="btn btn-primary btn-lg" href="/weddings/new" role="button">Register a new Guest Book</a>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Login to an existing guest book</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Log back in to a guest book</a>
  </div>
</div>
