<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Guest Book</h1>
    <%# <a class="btn btn-primary btn-lg" href="/weddings/new" role="button">Register a new Guest Book</a> %>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register as a new user</a>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<div class="instructions">
  <div class="row">
    <div class="col-lg-8 col-sm-6 col-12">
      <div class="instructions">
        <h2>Welcome to Guest Book</h2>
        <h3>Get your guests excited about your wedding by sharing stories about the happy couple</h3>
        <ol>
          <li>Create a user account to be part of the fun!</li>
          <li>You can then either create a new guestbook or rsvp to an existing one by seraching through the guest books directory, selecting your chosen wedding and entering the secret RSVP code which you will have been given by the couple or the book creater</li>
          <li>Add questions that all that wedding's guests can answer about that couple or answer existing questions</li>
        </ol>
        <p>Easy as that!</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6 col-12">
      <img src="../assets/images/guestbook.png" alt="Guest Book logo">
    </div>
  </div>
</div>
