<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Create Your Guest Book</h1>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Or login to an existing guest book here...</a>
  </div>
</div>

<div class="form-standard">

<form class="new-wedding" form method="POST" action="/weddings">
  <div class="form-row">
    <div class="col">
      <label for="partner1" id="partner1">Who is getting married?</label>
      <input type="text" class="form-control" placeholder="Name" name="partner1">
    </div>
    <div class="col">
      <label for="partner2" id="partner2">To who?</label>
      <input type="text" class="form-control" placeholder="Name" name="partner2">
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <label for="date">Date</label>
      <input type="date" class="form-control" placeholder="Date" id="date" name="date">
    </div>
    <div class="col">
      <label for="venue" id="venue">Venue</label>
      <input type="text" class="form-control" placeholder="Venue" name="venue">
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <label for="imageMain">Photo of the happy couple</label>
      <input type="text" class="form-control" placeholder="Insert link to photo of the couple" id="imageMain" name="imageMain">
    </div>
    <%# <div class="col">
      <label for="createrEmail" id="createrEmail">Your email - must match your user email</label>
      <input type="email" class="form-control" placeholder="Your email" name="createrEmail">
    </div> %>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
