<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Login</h1>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Or register as a new user here...</a>
  </div>
</div>

<div class="container">

  <div class="login">
    <div class="row">
      <div class="col-lg-4 col-sm-6 col-12">
        <img src="../assets/images/guestbook.png" alt="Guest Book logo">
      </div>
      <div class="col-lg-4 col-sm-6 col-12">
        <div class="form-standard">
          <form class="login" form method="POST" action="/login">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp" placeholder="Enter email" id="email" name="email">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password-login" placeholder="Password" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
