<h1>Register User</h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Register</h1>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Or login to your existing account here...</a>
  </div>
</div>

<form class="new-user">
  <div class="form-row">
    <div class="col">
      <label for="firstName">First name</label>
      <input type="text" class="form-control" placeholder="First name" id="firstName" name="firstName">
    </div>
    <div class="col">
      <label for="lastName">Last name</label>
      <input type="text" class="form-control" placeholder="Last name" id="lastName" name="lastName">
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      <label for="email">Email</label>
      <input type="email" class="form-control" placeholder="Email" id="email" name="email">
    </div>
    <div class="col">
      <label for="password" id="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" name="password">
    </div>
    <div class="col">
      <label for="password">Confirm password</label>
      <input type="password" class="form-control" placeholder="Confirm Password">
    </div>
  </div>

  <div class="custom-file">
    <input type="file" class="custom-file-input" id="image" name="image">
    <label class="custom-file-label" for="customFile">Upload your profile picture</label>
  </div>

  <div class="form-group">
     <label for="seatPlan" id="seatPlan" name="seatPlan">Please provide a little information about yourself so that other guests can get to know you (hobbies, job, interests etc..)</label>
     <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
   </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
