<h1>User Profile</h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= user.firstName %> <%= user.lastName %></h1>
  </div>
</div>



<a href="/users/edit"><h4>Edit Your Profile</h4></a>
<a href="/users/delete"><h4>Delete Your Profile</h4></a>
<a href="/weddings/new"><h4>Create a new Guest Book</h4></a>

<h4>View Guest Books</h4>

Loop through any ref to guest books included in userSchema
