@import "variables";

// Navbar styling
.brand {
  max-width: 5%;
}


.navbar {
  background-color: $light-color;

  a {
    font-family: $header-font;
    font-weight: bold;
    color: $background-color;
    font-size: 30px;
    padding-left: 30px;

    ul {
      display: flex;


      li {
        justify-content: space-around;

      }
    }
  }
}

.jumbotron {
  background-image: url("../assets/images/jumbolove.png");

  h1 {
    font-size: 6.5rem;
    font-weight: 900;
    line-height: 1.2;
    font-family: $header-font;
    font-weight: bold;
    color: $background-color;

  }

  .btn {
    background-color: $bright-color;
    color: $dark-color;
    font-weight: bold;
    font-size: 25px;
    font-family: $header-font;
    border: $bright-color 5px;
  }
}


// Generic styling

body {
  font-family: $text-font;
  justify-content: center;
  margin: 0 auto;
  // max-width: 1000px;
}

h1 {
  font-family: $header-font;
  font-weight: bold;
  color: $bright-color;
}

h2 {
  font-family: $header-font;
  font-weight: bold;
  color: $contrast-color;
  text-decoration: underline;
}

h3 {
  font-family: $header-font;
  text-decoration: underline;
  font-weight: bold;
  color: $dark-color;
}

// Homepage styling

.instructions {
  margin: 20px;


  img {
    max-width: 90%;
  }

  h2 {
    font-size: 75px;
    text-decoration: none;
    text-align: center;
  }

  h3 {
    text-decoration: none;
    text-align: center;
    color: $light-color;
  }

  li {
    font-family: $text-font;
    color: $dark-color;

    a {
      color: $bright-color;
      font-weight: bold;
      background-color: none;
    }
  }

  p {
    color: $bright-color;
    font-weight: bold;
    text-align: center;
    font-family: $header-font;
    font-size: 30px;
    text-decoration: underline;
  }
}

// Login page styling

.login {
  // justify-content: center;

    img {
      max-width: 90%;
  }

  .form-standard {
    margin-top: 100px;
  }
}






h3 {
  font-family: $header-font;
  text-decoration: underline;
  font-weight: bold;
  color: $dark-color;
}

h4 {
  font-family: $text-font;
  color: $dark-color;
}


.form-standard {
  font-family: $text-font;
  color: black;

  .placeholder {
    color: $bright-color;
  }

  .form-row {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 25px;
  }

  .images {
    padding-bottom: 25px;
  }

  button {
    font-family: $header-font;
    background-color: $dark-color;
    color: $bright-color;
    font-weight: bold;
    font-size: 25px;
    border: $dark-color 5px;
    // how do i get the button in the center?

    button :hover {
      background-color: $bright-color;
      color: $dark-color;
      border: $bright-color 5px;
      // why isnt this working
    }
  }

}

.slick-answers {
  background-image: url("../assets/images/hearts.png");
  background-size: 50%;
  padding: 50px;
  margin: 20px;

  .slick-prev {
    font-family: $header-font;
    background-color: $dark-color;
    color: $bright-color;
    font-weight: bold;
    font-size: 25px;
    border: $dark-color 5px;
  }
}

.index-hearts {
  background-image: url("../assets/images/hearts.png");

  .show-weddings {
    display: flex;

    .eachWedding {
      justify-content: space-around;
      max-width: 30%;
      border: solid 5px $background-color;
      text-align: center;
      background-color: $bright-color;
      margin: 5px;
      padding: 15px;

    }

    img {
      max-width: 80%;
      border-radius: 20%;
    }
  }
}
