@import "variables";

.navbar, a {
  background-color: $bright-color;
  font-family: $header-font;
  font-weight: bold;
  color: $dark-color;
  font-size: 30px;

  a {
    color: $light-color;
  }

  ul {
    display: flex;


    li {
      justify-content: space-around;

    }
  }
}

body {
  font-family: $text-font;
  justify-content: center;
  margin: 0 auto;
}

.jumbotron {
  background-image: url("../assets/images/jumbolove.png");

  h1 {
    font-size: 6.5rem;
    font-weight: 900;
    line-height: 1.2;
    font-family: $header-font;
    font-weight: bold;
    color: $background-color;

  }

  .btn {
    background-color: $bright-color;
    color: $dark-color;
    font-weight: bold;
    font-size: 25px;
    font-family: $header-font;
    border: $bright-color 5px;
  }
}

h1 {
  font-family: $header-font;
  font-weight: bold;
  color: $bright-color;
}

h2 {
  font-family: $header-font;
  text-decoration: underline;
  font-weight: bold;
  color: $contrast-color;
  // background-color: $background-color;
}

h3 {
  font-family: $header-font;
  text-decoration: underline;
  font-weight: bold;
  color: $dark-color;
}

h4 {
  font-family: $text-font;
  color: $dark-color;
}


.form-standard {
  font-family: $text-font;
  color: black;

  .placeholder {
    color: $bright-color;
  }

  .form-row {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 25px;
  }

  .images {
    padding-bottom: 25px;
  }

  button {
    font-family: $header-font;
    background-color: $dark-color;
    color: $bright-color;
    font-weight: bold;
    font-size: 25px;
    border: $dark-color 5px;
    // how do i get the button in the center?

    button :hover {
      background-color: $bright-color;
      color: $dark-color;
      border: $bright-color 5px;
      // why isnt this working
    }
  }

}

.slick-answers {
    background-image: url("../assets/images/hearts.png");
    background-size: 50%;
    padding: 50px;
    margin: 20px;

    .slick-prev {
      font-family: $header-font;
      background-color: $dark-color;
      color: $bright-color;
      font-weight: bold;
      font-size: 25px;
      border: $dark-color 5px;
    }
}

.index-hearts {
  background-image: url("../assets/images/hearts.png");

  .show-weddings {

    .eachWedding {
      max-width: 30%;
      border: solid 5px $background-color;
      text-align: center;
      background-color: $bright-color;
      margin: 5px;
      padding: 15px;

    }

    img {
      max-width: 80%;
      border-radius: 20%;
    }
  }
}
