<h1>New Question</h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add a new question</h1>
  </div>
</div>

<div class="form-standard">

<form class="new-question" form method="POST" action="/questions/new">
  <div class="form-group">
    <label for="questions">What's your question for the guest book?</label>
    <textarea class="form-control" id="questions-new" rows="3" placeholder="Write your question for the guest book" name="question"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
